
<h2>Admin Dashboard</h2>

<a href="/admin/add_product">Add Product</a>

<h3>Products</h3>
{% for p in products %}
<div>
{{p.name}} ₹{{p.price}}
<a href="/admin/delete_product/{{p.id}}">Delete</a>
</div>
{% endfor %}

<h3>Orders</h3>
{% for o in orders %}
<div>
{{o.product_name}} ₹{{o.total}} Status: {{o.status}}
<a href="/admin/update_order/{{o.id}}/Confirmed">Confirm</a>
<a href="/admin/update_order/{{o.id}}/Shipped">Ship</a>
<a href="/admin/update_order/{{o.id}}/Delivered">Deliver</a>
</div>
{% endfor %}
