{% extends "admin/base.html" %}

{% block content %}

<h1>Orders</h1>

<table>

<tr>
    <th>Order No</th>
    <th>User</th>
    <th>Product</th>
    <th>Total</th>
    <th>PV</th>
    <th>Payment</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for order in orders %}

<tr>

<td>{{ order.order_number }}</td>
<td>{{ order.username }}</td>
<td>{{ order.product_name }}</td>
<td>₹{{ order.total }}</td>
<td>{{ order.pv_points }}</td>

<td>{{ order.payment_status }}</td>

<td>{{ order.status }}</td>

<td>

<a class="btn green"
href="/admin/order/{{ order.id }}/paid">
Paid
</a>

<a class="btn blue"
href="/admin/order/{{ order.id }}/delivered">
Delivered
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
